@use '../../assets/variables';

.nav{
    height: 60%;
    width: 100%;

    ul {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        
        li{
            color: variables.$color2;
            cursor: pointer;
            
            &.active{
                color: variables.$color4;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .nav{
        ul{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}