#banner_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;

    h2{
        position: absolute;
        top: 50%;
        text-transform: uppercase;
        font-size: 180%;
    }

    img{
        transition: all .5s;
        filter: brightness(0.6);
    }

    &.two_row{
        grid-column: 1 / 3;
    }

    &:hover{
        img {
            transform: scale(1.3);
            filter: brightness(1);
        }
    }
}