@use '../../../assets/variables';

.spinner_container{
    background-color: #00000080;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 0.5rem;

}

.spinner_container p
{
    text-align: center;
    margin: 5px 0 0 0;
}

#bottom{
    stroke: variables.$transparency;
}

#upper{
    stroke: variables.$color3;
    animation: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform-origin: center;
}

@keyframes rotate {
    0%
    {
        transform: rotateZ(0deg);
    }
    100%
    {
        transform: rotateZ(360deg);
    }
}